.carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 20px;
      border-radius: 50%;
      background-size: 100% 100%;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 5%;
    }

    .carousel-item img {
      max-height: 550px;
      max-width: 1250px;
      margin: 0 auto;
      border-radius: 25px;
      cursor: pointer;
    }

    .card {
      transition: transform 0.3s ease;
    }
    .card:hover {
      transform: translateY(-5px);
    }

    .highlight {
      animation: pulseGlow 2s ease-in-out forwards;
    }

    @keyframes pulseGlow {
      0% {
        box-shadow: 0 0 0px rgba(40, 167, 69, 0.5);
      }
      50% {
        box-shadow: 0 0 20px rgba(40, 167, 69, 0.8);
      }
      100% {
        box-shadow: 0 0 0px rgba(40, 167, 69, 0);
      }
    }
    .highlighted-section {
  border-radius: 15px;
  animation: greenPulse 2s ease-in-out;
  box-shadow: 0 0 0 rgba(40, 167, 69, 0.5);
  border: 2px solid rgba(40, 167, 69, 0.5);
}

@keyframes greenPulse {
  0% {
    box-shadow: 0 0 0px rgba(40, 167, 69, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(40, 167, 69, 0.8);
  }
  100% {
    box-shadow: 0 0 0px rgba(40, 167, 69, 0.3);
  }
}